/*
============================
Name:  Legalt Law and Attorney
Version: 1.0.0
Description: Legalt Law and Attorney template
Author: VikingLab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/


.site-logo a {
    color: #FFFFFF;
    font-size: 16px;
    display: block;
    font-weight: 500;
    padding: 10px 15px;
    transition: all .3s;
}


.shape-1 {
    height: 150px;
}
.shape-2 {
    height: 450px;
}

.single-slider a {
    color: #0c2047;
}
.header__bar-icon {
    height: 47px !important;
    width: 57px !important;
}


/*footer.footer-area4 {*/
/*    text-align: center;*/
/*}*/
